1.8.10 __pthread_mutex_lock assertion failed

Hi,

I encountered a few strange bugs while trying to send mail with msmtp 1.8.10 on an aarch64 arm platform.

I use the following command to send an email:
`echo "hello world!" | msmtp  recipient@provider.com`

The default account is set to use the host `smtp.office365.com`, port 567.

If I place my config file in `/etc/msmtprc`, msmtp crashes (with --debug):
```
reading recipients from the command line
<-- 220 QB1PR01CA0010.outlook.office365.com Microsoft ESMTP MAIL Service ready at Thu, 7 May 2020 17:17:36 +0000
--> EHLO localhost
<-- 250-QB1PR01CA0010.outlook.office365.com Hello [192.222.209.59]
<-- 250-SIZE 157286400
<-- 250-PIPELINING
<-- 250-DSN
<-- 250-ENHANCEDSTATUSCODES
<-- 250-STARTTLS
<-- 250-8BITMIME
<-- 250-BINARYMIME
<-- 250-CHUNKING
<-- 250 SMTPUTF8
--> STARTTLS
<-- 220 2.0.0 SMTP server ready
msmtp: pthread_mutex_lock.c:149: __pthread_mutex_lock: Assertion `PTHREAD_MUTEX_TYPE (mutex) == PTHREAD_MUTEX_ERRORCHECK_NP' failed.
Aborted
```
Without --debug, it just hangs without any log.

If I move the same config file to another path and use it directly with `--file=myconfig`, msmtp also hangs. 

_However_, if I had the --debug flag the email does get sent (?). So, `msmtp --debug --file=myconfig recipient@provider.com` works, but `msmtp --file=myconfig recipient@provider.com` does not.

Any clue on what could be the issue? 

Msmtp does not use pthread functions directly. This is probably in the TLS library, triggered when msmtp initiates the TLS handshake. Which library do you use? Maybe update to the latest version, or look for similar problem reports there? Can you initiate TLS with the tools that come with the library, e.g. `gnutls-cli --starttls-proto=smtp --port=567 smtp.office365.com`?

Hi,

Thank you for the reply.

I'm using gnutls 3.6.8. `gnutls-cli` can print the server's capability without errors. I made a typo in the original post, the port I am trying to connect to is 587. I couldn't find any similar reports on their bug tracker or mailing list.

```
GnuTLS debug client 3.6.8
Checking smtp.office365.com:587
                        whether we need to disable TLS 1.2... no
                        whether we need to disable TLS 1.1... no
                        whether we need to disable TLS 1.0... no
                        whether %NO_EXTENSIONS is required... no
                               whether %COMPAT is required... no
                             for TLS 1.0 (RFC2246) support... yes
                             for TLS 1.1 (RFC4346) support... yes
                             for TLS 1.2 (RFC5246) support... yes
                             for TLS 1.3 (RFC8446) support... no
                       TLS1.2 neg fallback from TLS 1.6 to... TLS1.2
              for inappropriate fallback (RFC7507) support... no
                               for certificate chain order... sorted
                  for safe renegotiation (RFC5746) support... yes
                    for encrypt-then-MAC (RFC7366) support... no
                   for ext master secret (RFC7627) support... yes
                           for heartbeat (RFC6520) support... no
                       for version rollback bug in RSA PMS... dunno
                  for version rollback bug in Client Hello... no
            whether the server ignores the RSA PMS version... yes
whether small records (512 bytes) are tolerated on handshake... yes
    whether cipher suites not in SSL 3.0 spec are accepted... yes
whether a bogus TLS record version in the client hello is accepted... yes
         whether the server understands TLS closure alerts... partially
            whether the server supports session resumption... no
                      for anonymous authentication support... no
                      for ephemeral Diffie-Hellman support... no
                        for RFC7919 Diffie-Hellman support... no
                   for ephemeral EC Diffie-Hellman support... yes
                             for curve SECP256r1 (RFC4492)... yes
                             for curve SECP384r1 (RFC4492)... no
                             for curve SECP521r1 (RFC4492)... no
                                for curve X25519 (RFC8422)... no
                      for AES-GCM cipher (RFC5288) support... yes
                      for AES-CCM cipher (RFC6655) support... no
                    for AES-CCM-8 cipher (RFC6655) support... no
                      for AES-CBC cipher (RFC3268) support... yes
                 for CAMELLIA-GCM cipher (RFC6367) support... no
                 for CAMELLIA-CBC cipher (RFC5932) support... no
                     for 3DES-CBC cipher (RFC2246) support... no
                  for ARCFOUR 128 cipher (RFC2246) support... no
            for CHACHA20-POLY1305 cipher (RFC7905) support... no
                                       for MD5 MAC support... no
                                      for SHA1 MAC support... yes
                                    for SHA256 MAC support... yes
                     for max record size (RFC6066) support... no
                for OCSP status response (RFC6066) support... yes
```
The account that I'm trying to send the mail from is a corporate email account linked with outlook365 (it is not a @outlook.com email), so that may part of the issue, not sure. It however worked with ssmtp just fine.  

OK, I cannot reproduce this on my platform, so I can only give you hints. My guess is that the problem is triggered somewhere in the function `tls_init()`, in `tls.c` lines 1225-1369. Perhaps you can step through that function in a debugger, or pepper it with `fprintf(stderr, ...)` calls to find out where exactly thing go wrong?

I added `fprintf` as you suggested.
The call that fails is `error_code = gnutls_handshake(tls->session);` in `tls.c::tls_start`. 

I tried with openssl, and everything works correctly. For me, that is an acceptable workaround. 

I can happily provide more logs/information if you want to debug this further with gnutls, or we can close the issue. 

Thank you for your help!

Since I cannot reproduce the problem and the code in question worked for a long time across all sorts of platforms, I'll close this for now, but I'll keep it in mind in case something similar comes up.